<?xml version = "1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro"> <!--basit bir urdf dosyasında tanımlama gerçekleştiremiyorum bunun için xmlns'i de eklemeliyim-->
 
    <material name = "cyan">
        <color rgba = "0 1 1 1" />
    </material>

     <material name = "black">
        <color rgba = "0 0 0 1" />
    </material>

    <xacro:macro name = "box_inertia" params = "m l w h xyz rpy"> <!--kütle için = m, ölçüler için ise = l, w,h'yi kullanabilirz-->
        <inertial> <!--eylemsilzik momenti tanımlarken bu etiketi kullanırız.-->
            <origin xyz = "${xyz}" rpy = "${rpy}" /> <!--nesnemin orgin'İni-->
            <mass value = "${m}" /> <!--kütlesini ve aşağıdaki tag'dan da anlaşılacağı üzere eylemsizliği tanımlamalıyım sırasıyla-->
            <inertia ixx = "${(m / 12) * (h*h + l*l)}" ixy = "0" ixz = "0" 
                     iyy = "${(m / 12) * (w*w + l*l)}" iyz = "0" 
                     izz = "${(m / 12) * (w*w + h*h)}" /> 
        </inertial>
    </xacro:macro>

<!--burada yazdıklarımı my_robot içindeki her bir link içinde ayrı ayrı çağırabilirim-->

    <xacro:macro name = "cylinder_inertia" params = "m r h xyz rpy"> <!--kütle için = m, yarıcaç için = r, yükseklik içn = h-->
        <inertial>
            <origin xyz = "${xyz}" rpy = "${rpy}" />
            <mass value = "${m}" />
            <inertia ixx = "${(m / 12) * (3*r*r + h*h)}" ixy = "0" ixz = "0"
                     iyy = "${(m / 12) * (3*r*r + h*h)}" iyz = "0" 
                     izz = "${(m / 2)  * (r*r)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name = "sphere_inertia" params = "m r xyz rpy"> <!--kütle için = m, yarıcaç için = r -->
        <inertial>
            <origin xyz = "${xyz}" rpy = "${rpy}" />
            <mass value = "${m}" />
            <inertia ixx = "${(2 / 5) * m * r * r}" ixy = "0" ixz = "0"
                     iyy = "${(2 / 5) * m * r * r}" iyz = "0" 
                     izz = "${(2 / 5) * m * r * r}" />
        </inertial>
    </xacro:macro>
</robot>